.edit {
  height: 100%;
  position: relative;
  width: 100%;

  >form {
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.7);
    height: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 10%;
    width: 80%;

    .btn{
      background: rgba(197, 200, 195, 0.56);
      border: 1px solid black;
    }

    >div {
      box-sizing: border-box;
      height: 80%;

      hr {
        border: 1px solid rgb(240, 173, 78);
        margin: 1px 3% 10px 3%;
      }

      &:first-child {
        height: 12%;

        >div {
          float: left;
          width: 50%;

          // error container
          &:last-child {
            float: right;
            margin-top: 20px;
            text-align: center;
          }
        }
      }

      // Input groups
      &:nth-child(2) {
        >div {
          height: 10%;
        }

        .description {
          height: 50%;
          textarea {
            height: 100%;
          }
        }
      }

      &:last-child {
        height: 8%;
        >div {
          margin-bottom: 2%;
          max-height: 100%;
        }
      }
    }
  }
}
