.home {
  >div {
    &:first-child {
      background-image: url('../img/Fondo1.jpg');

      >div {
        background: rgba(255, 255, 255, 0.40);
        border: 1px solid gray;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 1%;
        >div {
          height: 100%;
          div {
            border: 2px dashed black;
            height: 50%;
          }
        }
      }
    }

    &:nth-child(2) {
      background-image: url('../img/Fondo3.jpg');
      box-sizing: border-box;
      width: 100%;

      >div {
        opacity: 0.6;
      }
    }

    &:nth-child(3) {
      background-image: url('../img/Fondo2.jpg');
    }

    &:last-child {
      >div {
        padding-top: 5%;
        position: relative;

        >div, sr-footer {
          height: 50%;
          position: absolute;
          top: 5%;
        }

        >div {
          background: rgba(255, 255, 255, 0.62);
          border-radius: 10px;
          color: black;
          padding-top: 2%;
          margin: 0 1%;
          width: 96%;

          .personal-info {
            position: relative;
            margin-bottom: 10px;
            div {
              &:first-child {
                padding: 0;

                img {
                  border: 2px solid black;
                  border-radius: 100%;
                  margin-bottom: 10px;
                }
              }

              &:last-child {
                position: absolute;
                right: 0;
              }
            }
          }
        }

        sr-footer{
          top: 55%;
        }

        .foot-bar {
          border-top: 0;
        }
      }
    }
  }
}
