TalleresPossa-API/node_modules/*
TalleresPossa-API/bower_components/*
TalleresPossa-API/*.swp
TalleresPossa-API/*.swo
TalleresPossa-API/*.log
TalleresPossa-API/*.DS_Store
TalleresPossa-API/*.rdb
TalleresPossa-API/local.js
TalleresPossa-API/build/

TalleresPossa-ui/node_modules/*
TalleresPossa-ui/bower_components/*
TalleresPossa-ui/*.swp
TalleresPossa-ui/*.swo
TalleresPossa-ui/*.log
TalleresPossa-ui/*.DS_Store
TalleresPossa-ui/*.rdb
TalleresPossa-ui/local.js
TalleresPossa-ui/build/
