  html, body {
  height: 100%;
  // Hidde the scroll bar on chrome
  ::-webkit-scrollbar {
    display: none;
  }

  .disable {
    background-color: gray;
    color: gray;
    pointer-events: none;
  }
}

.main {
  height: 100%;
  position: relative;
  width: 100%;

  .landing {
    box-sizing: border-box;
    height: 100%;
    overflow-y: hidden;
  }

  .img-effects {
    margin-top: 3%;
    @media screen and (max-width: 768px) {
      margin-top: 10%;
    }

    &:nth-child(2) {
      margin-top: -3%;
      @media screen and (min-width: 1220px) {
        margin-top: -6%;
      }
    }
  }

  .description {
    box-sizing: border-box;
    height: 50%;
    margin-bottom: 1%;
    overflow: hidden;
    text-align: justify;

    h3 {
      text-align: center;
    }
  }
}
