.form {
  background: rgba(131, 143, 125, 0.75);
  border-radius: 10px;
  height: 90%;
  position: relative;
  width: 100%;

  >div {
    box-sizing: border-box;
    height: 98%;
    top: 1%;
    padding-bottom: 1%;
    position: absolute;

    // Form container
    &:first-child {
      left: 1%;

      >div {
        // Title container
        &:first-child {
          height: 15%;

          h3 {
            font-weight: bold;
          }
        }

        // Fields container
        &:last-child {
          height: 85%;

          >div {
            height: 12%;

            // Description container
            &.description {
              height: 40%;

              textarea {
                height: 100%;
              }
            }
          }
        }
      }
    }

    // Info container
    &:last-child {
      border-left: 6px dashed black;
      right: 1%;

      >div {
        height: 70%;

        // Map container
        &:last-child {
          box-sizing: border-box;
          height: 30%;
          padding-top: 5%;
        }
      }
    }
  }
}
