<div class="register">
  <img src="img/Fondo4.jpg" alt="" width="100%" height="100%">
  <form class="container col-xs-8" action="http://localhost:8000/register" method="post">
    <!-- Title -->
    <div class="container col-xs-12">
        <h3>FICHA DE REGISTRO</h3>
    </div>

    <div>
      <div class="container input-group col-xs-12">
        <!-- User Number  -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input class="form-control" type="text" name="user" value="" placeholder="User name...">
          </div>
        </div>
        <!-- User Password -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
            <input class="form-control" type="password" name="password" value="" placeholder="Password...">
          </div>
        </div>
      </div>

      <div class="container input-group col-xs-12">
        <!-- Name -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input class="form-control" type="text" name="name" value="" placeholder="Nombre...">
          </div>
        </div>
        <!-- Company -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
            <input class="form-control" type="text" name="company" value="" placeholder="Empresa...">
          </div>
        </div>
      </div>

      <div class="container input-group col-xs-12">
        <!-- Number -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
            <input class="form-control" type="text" name="number" value="" placeholder="Telefono...">
          </div>
        </div>
        <!-- Fax -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-print"></span></span>
            <input class="form-control" type="text" name="fax" value="" placeholder="Fax...">
          </div>
        </div>
      </div>

      <div class="container input-group col-xs-12">
        <!-- Number phone  -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
            <input class="form-control" type="text" name="phone" value="" placeholder="Celular...">
          </div>
        </div>
        <!-- Email -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span>@</span></span>
            <input class="form-control" type="text" name="email" value="" placeholder="Correo electronico...">
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="container col-xs-12 description">
        <textarea class="form-control vresize" name="description" placeholder="Informacion Extra..."></textarea>
      </div>
    </div>

    <!-- buttons -->
    <div class="btn-group
                col-xs-10 col-xs-offset-1
                col-sm-offset-2 col-sm-8">
      <div class="container col-xs-3 btn">
        <span>BORRAR</span>
      </div>
      <button type="submit" class="container col-xs-3 btn">
        <span>ENVIAR</span>
      </button>
      <div class="container col-xs-3 btn"
           ui-sref="home">
        <span>CONOCER</span>
      </div>
      <div class="container col-xs-3 btn"
           ui-sref="login">
        <span>VOLVER</span>
      </div>
    </div>
  </form>
</div>
