.login {
  height: 100%;
  position: relative;
  >form {
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.7);
    // border-radius: 15px;
    box-shadow: 2px 2px 8px;
    height: 60%;
    position: absolute;
    top: 20%;

    >div {
      height: 30%;
      text-align: center;

      &:first-child, &:last-child {
          height: 20%;
        }
      .btn {
        background: rgba(197, 200, 195, 0.56);
        border: 1px solid black;
      }
    }
  }
}
