<form action="" class="form">
  <div class="container col-xs-8">
    <!-- Title -->
    <div class="container col-xs-12">
        <h3>Complete el siguiente formulario</h3>
    </div>

    <div class="container col-xs-12 input-group">
      <!-- Name -->
      <div class="container col-xs-6">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <input class="form-control" type="text" name="name" value="" placeholder="Nombre...">
        </div>
      </div>
      <!-- Company -->
      <div class="container col-xs-6">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
          <input class="form-control" type="text" name="company" value="" placeholder="Empresa...">
        </div>
      </div>
    </div>

    <div class="container col-xs-12 input-group">
      <!-- Number -->
      <div class="container col-xs-6">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
          <input class="form-control" type="text" name="number" value="" placeholder="Telefono...">
        </div>
      </div>
      <!-- Fax -->
      <div class="container col-xs-6">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-print"></span></span>
          <input class="form-control" type="text" name="Fax" value="" placeholder="Fax...">
        </div>
      </div>
    </div>

    <div class="container col-xs-12 input-group">
      <!-- Number phone  -->
      <div class="container col-xs-6">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
          <input class="form-control" type="text" name="Phone" value="" placeholder="Celular...">
        </div>
      </div>
      <!-- Email -->
      <div class="container col-xs-6">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input class="form-control" type="text" name="Email" value="" placeholder="Correo electronico...">
        </div>
      </div>
    </div>

    <!-- Subject -->
    <div class="container col-xs-12">
      <div class=" container col-xs-12 input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
        <input class="form-control" type="text" name="Subject" value="" placeholder="Asunto...">
      </div>
    </div>

    <!-- Description -->
    <div class="container col-xs-12 description">
      <textarea class="form-control vresize" name="Description" placeholder="Descripcion..."></textarea>
    </div>

    <!-- Send button -->
    <div class="container col-xs-2">
      <span class="btn btn-danger">BORRAR</span>
    </div>
    <div class="container col-xs-2">
      <span class="btn btn-primary">ENVIAR</span>
    </div>
  </div>

  <!-- Contact Information -->
  <div class="container col-xs-4">
    <div class="container">
      <div class="container col-xs-12 text-justify">
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         </h3>
      </div>
      <div class="container col-xs-12">
        <h3>
          <center>MAP</center>
        </h3>
        <center><p style="color: white">Queda feo un mapa de casa :O</p></center>
      </div>
    </div>
  </div>
</form>
