<nav class="container-fluid navbar navbar-fixed-top">
  <div class="container col-xs-6">
    <h3>TALLERES POSSA</h3>
  </div>

  <div class="container col-xs-6">
    <ul class="nav col-xs-12 menu"  id="menu">
      <li role="presentation" class="col-xs-4 select" id="home">
        <p>
          <span class="glyphicon glyphicon-home"
               ng-click="header.stateSelected()">
          </span> HOME
        </p>
      </li>
      <li role="presentation" class="col-xs-4" id="about">
        <p>
          <span class="glyphicon glyphicon-briefcase"
               ng-click="header.stateSelected()">
          </span> ABOUT US
        </p>
      </li>
      <li role="presentation" class="col-xs-4" id="contact">
        <p>
          <span class="glyphicon glyphicon-user"
               ng-click="header.stateSelected()">
          </span> CONTACT US
        </p>
      </li>
    </ul>
  </div>
</nav>
