<div class="container-fluid landing">
  <h1 class="text-primary">WELCOME</h1>
  <hr class="bg-primary">

  <!-- Center text -->
  <div class="container description">
    <div class="container col-xs-6">
      <h1><ins>Lorem ipsum dolor sit amet.</ins></h1>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="container col-xs-6">
      <h1><ins>Lorem ipsum dolor sit amet.</ins></h1>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
  </div>

  <!-- Buttons -->
  <div class="container">
    <div class="container col-xs-2
                col-xs-offset-2 bg-primary
                btn btn-primary">
      <span><center>Ingresar</center></span>
    </div>
    <div class="container col-xs-2
                col-xs-offset-4 bg-primary
                btn btn-primary">
      <span><center>Conocer</center></span>
    </div>
  </div>

  <!-- Prints -->
  <div class="container col-xs-12">
    <div class="container col-xs-2 col-xs-offset-2 img-effects">
      <img src="img/autoelevador-1.jpg" alt="" class="img-responsive">
    </div>
    <div class="container col-xs-2 col-xs-offset-1 img-effects">
      <img src="img/autoelevador-3.jpg" alt="" class="img-responsive">
    </div>
    <div class="container col-xs-2 col-xs-offset-1 img-effects">
      <img src="img/autoelevador-2.jpg" alt="" class="img-responsive">
    </div>
  </div>

  <!-- Footer -->
  <div class="container-fluid col-xs-11
              bg-primary foot-bar"
       ng-class="{'openfooter' : landing.openfooter }">
    <footer>
      <div class="container-fluid col-xs-12"
           ng-click="landing.openfooter = !landing.openfooter">
           <span class="glyphicon glyphicon-chevron-up"></span>
      </div>

      <div class="containter col-xs-6">

      </div>

      <div class="containter col-xs-6">
        <ul>
          <li><span class="glyphicon glyphicon-globe"></span> Social(1)</li>
          <li><span class="glyphicon glyphicon-globe"></span> Social(2)</li>
          <li><span class="glyphicon glyphicon-globe"></span> Social(3)</li>
        </ul>
      </div>
    </footer>
  </div>
</div>
