<div class="container-fluid landing">
  <h3 class="text-primary">WELCOME</h3>
  <hr class="bg-primary">

  <!-- Center text -->
  <div class="container description">
    <blockquote class="container col-xs-6" cite="">
      <h3><ins>Lorem ipsum dolor sit amet.</ins></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <footer>Lorem ipsum dolor sit amet. <cite>Lorem ipsum dolor sit amet.</cite></footer>
    </blockquote>
    <blockquote class="container col-xs-6" cite="">
      <h3><ins>Lorem ipsum dolor sit amet.</ins></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
         sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <footer>Lorem ipsum dolor sit amet. <cite>Lorem ipsum dolor sit amet.</cite></footer>
    </blockquote>
  </div>

  <!-- Buttons -->
  <div class="container">
    <div class="container col-xs-2
                col-xs-offset-2 bg-primary
                btn btn-primary">
      <span><center>Ingresar</center></span>
    </div>
    <div class="container col-xs-2
                col-xs-offset-4 bg-primary
                btn btn-primary"
         ui-sref="home">
      <span><center>Conocer</center></span>
    </div>
  </div>

  <!-- Prints -->
  <div class="container col-xs-12">
    <div class="container col-xs-2 col-xs-offset-2 img-effects">
      <img src="img/autoelevador-1.jpg" alt="" class="img-responsive">
    </div>
    <div class="container col-xs-2 col-xs-offset-1 img-effects">
      <img src="img/autoelevador-3.jpg" alt="" class="img-responsive">
    </div>
    <div class="container col-xs-2 col-xs-offset-1 img-effects">
      <img src="img/autoelevador-2.jpg" alt="" class="img-responsive">
    </div>
  </div>
</div>

<!-- Footer -->
<div class="container-fluid bg-primary">
  <sr-footer></sr-footer>
</div>
