<div class="home" id="fullpage-home"
     ng-class="{'hidden' : home._$location.$$url != '/home'}">

  <!-- Main container -->
  <div class="container-fluid col-xs-12 section" id="homePage">
    <div class="container-fluid col-xs-12">
      <!-- <div class="container col-xs-8"></div>
      <div class="container col-xs-4"></div>
      <div class="container col-xs-3"></div>
      <div class="container col-xs-3"></div>
      <div class="container col-xs-3"></div>
      <div class="container col-xs-3"></div> -->
    </div>
  </div>

  <!-- Prints container -->
  <!-- FIXME then to make API and DB, make responsive and use it ng-repeat -->
  <div class="container col-xs-12 section" sr-gallery id="aboutPage"></div>

  <!-- Contact us container -->
  <div class="container col-xs-12 section" sr-formulario id="contactPage"></div>

  <!-- Footer -->
  <div class="section bg-primary">
    <div class="container col-xs-12">
      <div class="container col-xs-6">
        <div class="col-xs-12">
          <div class="container
                      col-xs-6
                      col-sm-3 col-lg-2">
            <img src="img/srosadilla.jpg" alt="" class="">
          </div>
          <div class="container user-name
                      col-xs-6
                      col-sm-9 col-lg-10">
            <h3>NELSO FABIAN <br> POSSAMAI AGUIRRE</h3>
          </div>
        </div>
        <div class="container col-xs-12 caption">
          <blockquote>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </blockquote>
        </div>
      </div>
      <div class="container col-xs-6 caption">
        <blockquote>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </blockquote>
      </div>
    </div>
    <div class="container col-xs-12" sr-footer></div>
  </div>
</div>
