<div class="login">
  <img src="img/Fondo4.jpg" alt="" width="100%" height="100%">
  <div class="container col-xs-6 col-xs-offset-3">
    <div class="container
                col-xs-6 col-xs-offset-3
                col-sm-4 col-sm-offset-4">
      <h3><b>INGRESAR</b></h3>
    </div>

    <!-- User field -->
    <div class="container col-xs-12">
      <div class="container
                  col-xs-6 col-xs-offset-3
                  col-sm-6 col-sm-offset-3">
        <h4>Usuario</h4>
      </div>
      <div class="container input-group
                  col-xs-10 col-xs-offset-1
                  col-sm-6 col-sm-offset-3">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input class="form-control" type="text" name="user" value="" placeholder="Usuario...">
      </div>
    </div>

    <!-- Password field-->
    <div class="container col-xs-12">
      <div class="container
                  col-xs-6 col-xs-offset-3
                  col-sm-6 col-sm-offset-3">
        <h4>Contraseña</h4>
      </div>
      <div class="container input-group
                  col-xs-10 col-xs-offset-1
                  col-sm-6 col-sm-offset-3">
        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        <input class="form-control" type="text" name="name" value="" placeholder="Contraseña...">
      </div>
    </div>

    <!-- Buttons -->
    <div class="btn-group
                col-xs-12
                col-sm-offset-2 col-sm-8">
      <div class="container btn
                  col-xs-4"
           ui-sref="register">
        <span>REGISTRAR</span>
      </div>
      <div class="container btn
                  col-xs-4">
           <span>INGRESAR</span>
      </div>
      <div class="container btn
                  col-xs-4"
           ui-sref="landing">
        <span>VOLVER</span>
      </div>
    </div>
  </div>
</div>
