.home {
  >div {
    &:first-child {
      background-image: url('../img/Fondo1.jpg');
      position: relative;

      >div {
        background: rgba(255, 255, 255, 0.40);
        border: 1px solid gray;
        border-radius: 10px;
        bottom: 10%;
        box-sizing: border-box;
        height: 85% !important;
        left: 1%;
        top: 10%;
        position: absolute;
        width: 98%;
        >div {
          height: 100%;
          div {
            border: 2px dashed black;
            height: 50%;
          }
        }
      }
    }

    &:nth-child(2) {
      background-image: url('../img/Fondo3.jpg');
      box-sizing: border-box;
      width: 100%;

      // ng repeat container
      >div {

        // slides
        &:first-child {
          background: rgba(255, 255, 255, 0.40);
          height: 100%;

          >div {
            height: 100%;
            position: relative;

            >div {
              height: 100%;

              >div {
                height: 100%;

                >div {
                  height: 100%;
                  position: relative;

                  // thumbnail
                  >div {
                    background: rgba(255, 255, 255, 0.40);
                    height: 80%;
                    left: 20%;
                    position: absolute;
                    top: 10%;
                    width: 60%;
                  }
                }
              }
            }
          }
        }

        // Arrows thumbnail
        &:nth-child(2), &:nth-child(3) {
          transition: 0.5s;
          transform: none;
          // Left arrow
          &:nth-child(2) {
            border-color: transparent #333 transparent transparent;
          }

          // Right arrow
          &:nth-child(3) {
            border-color: transparent transparent transparent #333;
          }

          &:active {
            transform: scale(1.1) rotateY(180deg);
          }
        }
      }
    }

    &:nth-child(3) {
      background-image: url('../img/Fondo2.jpg');
    }

    &:last-child {
      position: relative;
      // Footer
      >div {

        >div {
          height: 60%;

          &:last-child {
            height: 40%;
          }

          // Columns client information
          >div {
            height: 95%;
            // first column
            &:first-child {
              >div {
                >div {
                  &:first-child {
                    padding-top: 1%;

                    img {
                      border-radius: 100%;
                      height: 100%;
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
