<div class="register">
  <img src="img/Fondo4.png" alt="" width="100%" height="100%">
  <div class="container col-xs-8">
    <!-- Title -->
    <div class="container col-xs-12">
        <h3>Complete el siguiente registro</h3>
    </div>

    <div>
      <div class="container col-xs-12 input-group">
        <!-- Name -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input class="form-control" type="text" name="name" value="" placeholder="Nombre...">
          </div>
        </div>
        <!-- Company -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
            <input class="form-control" type="text" name="company" value="" placeholder="Empresa...">
          </div>
        </div>
      </div>

      <div class="container col-xs-12 input-group">
        <!-- Number -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone-alt"></span></span>
            <input class="form-control" type="text" name="number" value="" placeholder="Telefono...">
          </div>
        </div>
        <!-- Fax -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-print"></span></span>
            <input class="form-control" type="text" name="Fax" value="" placeholder="Fax...">
          </div>
        </div>
      </div>

      <div class="container col-xs-12 input-group">
        <!-- Number phone  -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
            <input class="form-control" type="text" name="Phone" value="" placeholder="Celular...">
          </div>
        </div>
        <!-- Email -->
        <div class="container col-xs-6">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input class="form-control" type="text" name="Email" value="" placeholder="Correo electronico...">
          </div>
        </div>
      </div>

      <!-- Subject -->
      <div class="container col-xs-6 col-xs-offset-3">
        <div class=" container col-xs-2 input-group">
          <span class="input-group-addon">SEXO</span>
          <span class="input-group-addon">
            <input class="from-control" type="radio" name="name">
            <span>MACHISTA</span>
          </span>
          <span class="input-group-addon">
            <input class="from-control" type="radio" name="name">
            <span>FEMINAZI</span>
          </span>
        </div>
      </div>

      <!-- Description -->
      <div class="container col-xs-12 description">
        <textarea class="form-control vresize" name="Description" placeholder="Informacion Extra..."></textarea>
      </div>
    </div>

    <!-- Send button -->
    <div class="btn-group col-xs-offset-3 col-xs-9">
      <div class="container col-xs-2 btn">
        <span>BORRAR</span>
      </div>
      <div class="container col-xs-2 btn">
        <span>ENVIAR</span>
      </div>
      <div class="container col-xs-2 btn"
           ui-sref="home">
        <span>CONOCER</span>
      </div>
      <div class="container col-xs-2 btn"
           ui-sref="landing">
        <span>VOLVER</span>
      </div>
    </div>
  </div>
</div>
