<div class="container col-xs-12
            foot-bar">
  <footer>
    <div class="container">
      <h3><b>TALLERES POSSA</b></h3>
      <hr>
    </div>

    <div>
      <blockquote class="containter col-xs-9">
        <div class="container col-xs-6">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          </p>
        </div>

        <div class="containter col-xs-6">
          <p>
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
          </p>
        </div>
    </blockquote>


      <blockquote class="containter col-xs-3">
        <ul>
          <li><icon class="glyphicon glyphicon-globe"></icon><span> Social(1)</span></li>
          <li><icon class="glyphicon glyphicon-globe"></icon><span> Social(2)</span></li>
          <li><icon class="glyphicon glyphicon-globe"></icon><span> Social(3)</span></li>
        </ul>
      </blockquote>
    </div>
  </footer>
</div>
