<div class="container col-xs-12
            foot-bar">
  <footer>
    <div class="container col-xs-12">
      <h3><b>TALLERES POSSA</b></h3>
      <hr>
    </div>

    <blockquote class="containter col-xs-6">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
      </p>
    </blockquote>

    <blockquote class="containter col-xs-6">
      <ul>
        <li><span class="glyphicon glyphicon-globe"></span><span> Social(1)</span></li>
        <li><span class="glyphicon glyphicon-globe"></span><span> Social(2)</span></li>
        <li><span class="glyphicon glyphicon-globe"></span><span> Social(3)</span></li>
      </ul>
    </blockquote>
  </footer>
</div>
